<div class="container">

  <div class="imageDiv">

  </div>

</div>

<script type="text/javascript">

  $(function() {

    slides_json = {};

    $.ajax({
      url: '/slides',
      type: 'GET',
      dataType: 'json',
      error: function (jqXHR, textStatus, errorThrown) {
        console.log(jqXHR);
        console.log(textStatus);
        console.log(errorThrown);
      },
      success: function(data) {
        JSON_handled(data);
      }
    });

    // handler for AJAX response
    var JSON_handled = function(data) {
      slides_json = data;
      console.log(slides_json);

      // define letters and carousel lengths
      letters = [];
      carousel_length = {};
      $.each(slides_json, function(letter, filename_array) {
        letters.push(letter);
        carousel_length[letter] = filename_array.length;
      })

      // set up first image
      $('.imageDiv').prepend('<img id="theImage" src="assets/' + slides_json[letters[0]][0] + '"></img>');

      current_letter_pos = 0;
      current_number = 0;

      var renderImage = function() {
        $('.imageDiv').prepend('<img id="theImage" src="assets/' + slides_json[letters[current_letter_pos]][current_number] + '"></img>');
        setTimeout(function() {
          $('.imageDiv').center();
        }, 20)
      }

      // renderImage();

      jQuery.fn.center = function () {
        this.css("position","fixed");
        this.css("top", ($(window).height() / 2) - (this.height() / 2));
        this.css("left", ($(window).width() / 2) - (this.width() / 2));
        return this;
      }

      // bizarre centering bug in Chrome requires setTimeout
      setTimeout(function() {
        $('.imageDiv').center();
      }, 20 )

      // $('.imageDiv').center();

      // swipe up/down headache alleviated by TouchSwipe-Jquery-Plugin

      $("body").swipe( {
        swipeUp:function(event, direction, distance, duration) {
          current_number++;
          if (current_number === carousel_length[letters[current_letter_pos]]) {
            current_number = 0;
          }
          $('#theImage').remove();
          renderImage();

        },
        swipeDown:function(event, direction, distance, duration) {
          current_number--;
          if (current_number === -1) {
            current_number = carousel_length[letters[current_letter_pos]] - 1;
          }
          $('#theImage').remove();
          renderImage();
        },
        swipeLeft:function(event, direction, distance, duration) {
          current_letter_pos++;
          if(current_letter_pos === letters.length) {
            current_letter_pos = 0;
          }
          current_number = 0;
          $('#theImage').remove();
          renderImage();
        },
        swipeRight:function(event, direction, distance, duration) {
          current_letter_pos--;
          if(current_letter_pos === -1) {
            current_letter_pos = letters.length - 1;
          }
          current_number = 0;
          $('#theImage').remove();
          renderImage();
        },
        click:function(event, target) { 
        },
        threshold:100,
        allowPageScroll:"vertical"
      });

    }
  })

</script>